*.env
venv/
*.vs
__pycache__/


# Ignorar archivos .log 
*.log
*.sln

# pyproj
*.pyproj
*.pyproj.user

# Ignoring temp
tmp/
*.tmp

Algorithms/venv/
ExceptionContexMan.lnk

#Ignoring the output
Pyspark/regular_patients/output/*.csv
Pyspark/regular_patients/output/*.crc
Pyspark/regular_patients/output/result/_SUCESS
*.lock
Pyspark/setup.py
Pyspark/regular_patients/logs/*.log
Pyspark/.gitlab-ci.yml
*.pylintrc
Pyspark/*.toml

covid_airflow/jars
covid_airflow/logs/*.log
