# Ignorar archivos .env 
*.env

# Ignorar archivos .vs
*.vs

# Ignorar carpetas __pycache__ 
__pycache__/

# Ignorar archivos .log 
*.log

# Ignorar archivos .sln
*.sln

# Ignorar archivos pyproj
*.pyproj
*.pyproj.user

# Ignorar carpetas tmp o archivos temporales
tmp/
*.tmp

# Python
*.pyc
*.pyo
*.pyd
*.db

# Virtualenv
venv/
env2/
.venv/
.env/

# IDEs y editores de código
.vscode/
.idea/

# Archivos de configuración del sistema operativo
.DS_Store
Thumbs.db

# Archivos de log
*.log

# Archivos de configuración específicos
.pylintrc
